$bleuCiel: SkyBlue;

.navigation {
    background-color: lightgreen;
    &.toto {
        background-color: $bleuCiel;

    }
    ul {
        list-style: none;
        li {
            background-color: aqua;
            color: white;
        }
    }
}

a {
    &:hover {
        background-color: rgb(132, 185, 221) {

        };
    }
}
