<p>{{ this.getPageTitle() }}</p>
<div>
    <label for="search">Search: </label>
    <input [(ngModel)]='searchTerm' id="search" type="text" placeholder="Filter products" />
    {{ searchTerm }}
    {{ a | percent }}
</div>
<div>
    <button (click)="toggleImage()">Show/Hide images</button>
    <table *ngIf="products.length > 0; else noProductTemplate">
        <thead>
            <tr>
            <td>ID</td>
            <!--td *ngIf="displayImage">Image</td-->
            <td *ngIf="displayImage">Image</td>
            <td>Name</td>
            <td>Code</td>
            <td>Release date</td>
            <td>Description</td>
            <td>Price</td>
            <td>Rating</td>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of getFilteredProducts()">
                <td>#{{ product.id }}</td>
                <!--td *ngIf="displayImage"><img src="{{ product.imageUrl }}" width="30px"></td-->
                <td *ngIf="displayImage"><img [src]="product.imageUrl" width="30px"></td>
                <td>{{ product.productName }}</td>
                <td>{{ product.productCode }}</td>
                <td>{{ product.releaseDate }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.starRating }}</td>
            </tr>
        </tbody>
    </table>
    <ng-template #noProductTemplate>
        <h4>No product</h4>
    </ng-template>
</div>
<hr/>
