<h3>{{ this.getPageTitle() }}</h3>
<div class="filter-form">
    <label for="search">Search: </label>
    <input [(ngModel)]='searchTerm' id="search" type="text" placeholder="Filter products" />
    {{ searchTerm }}
</div>

<div *ngIf="products$ | async as products" >
    <button (click)="toggleImage()">
        <span *ngIf="displayImage; else noImage">Hide</span>
        <ng-template #noImage>
            Show
        </ng-template>
        images
    </button>
    <table *ngIf="products.length > 0; else noProductTemplate">
        <thead>
            <tr>
                <td>ID</td>
                <td *ngIf="displayImage">Image</td>
                <td>Name</td>
                <td>Code</td>
                <td>Release date</td>
                <td>Description</td>
                <td>Price</td>
                <td>Rating</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products | productSearch:searchTerm">
                <td><a [routerLink]="product.id">#{{ product.id }}</a></td>
                <!--td *ngIf="displayImage"><img src="{{ product.imageUrl }}" width="30px"></td-->
                <td *ngIf="displayImage"><img [src]="product.imageUrl" width="30px"></td>
                <td>{{ product.productName }}</td>
                <td>{{ product.productCode }}</td>
                <td>{{ product.releaseDate }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <app-star [rating]="product.starRating" (ratingClicked)="product.starRating = $event"></app-star>
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #noProductTemplate>
        <h4>No product for now...</h4>
    </ng-template>
</div>
<div>
    <button (click)="refreshProducts()">Refresh products</button>
</div>
<hr />
