<div *ngIf="product$ | async as product; else noProduct">
    <div>
        ID: {{ product.id }}
    </div>
    <div>
        Name: {{ product.productName }}
    </div>
    <div>
        Description: {{ product.description }}
    </div>
    <p>
        <button type="button" (click)="goToProducts()">Go to back product</button>
        <br/>
        <button type="button" [routerLink]="['/products', product.id - 1]">Go to previous product</button>
        <button type="button" [routerLink]="['/products', product.id + 1]">Go to next product</button>
    </p>
</div>
<ng-template #noProduct>
    <h4>No such product...</h4>
    <button type="button" (click)="goToProducts()">Go to back product (click)</button>
    <button type="button" [routerLink]="['..']">Go to back product [routerLink]</button>
</ng-template>


<hr/>
